page-map {
  .leaflet-popup-content-wrapper {
    background:#175717;
    color:#FFDA8C;
    font-size:12px;
    margin-bottom:20px;
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content {

  }

  #map {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  }

  .leaflet-popup-tip {
    background:#ffffff;
    opacity:0;
  }
}